body {
	font-size: 100%;
}

#display {
	font-family: "Courier New", Courier, monospace;
	font-size: 1.25em;
	text-align: right;
	width: 145px;
	padding: 3px;
}

.btn {
	border: solid 1px black;
	border-radius: 5px;
	text-align: center;
	box-shadow: 2px 2px 4px black;
}